@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
.social {
  background-color: #00009C;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 10px 50px;
  text-align: center;
}
.social a {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.social i {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.header {
  padding: 30px 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}
.header .logo {
  width: 30%;
  display: flex;
  justify-content: center;
}
.header .logo a {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
.header .logo #fit {
  font-family: "Anton", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #00009C;
  text-transform: uppercase;
}
.header .nav__menu {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .nav__menu .nav__item {
  text-decoration: none;
  list-style: none;
}
.header .nav__menu .nav__item .nav__link {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
.header .nav__menu .nav__item .nav__link:hover {
  background-color: #00009C;
  color: #fff;
}
.header .nav__menu .nav__item:not(:first-child) {
  margin-left: 20px;
}
.header .nav__toggle {
  display: none;
}

.first__section {
  max-width: 100%;
}
.first__section .slider {
  margin-top: 30px;
  width: 200%;
}
.first__section .slider .slides {
  position: relative;
  width: 100%;
  display: flex;
}
.first__section .slider .slides #radio1:checked ~ .first {
  margin-left: 0;
}
.first__section .slider .slides #radio2:checked ~ .first {
  margin-left: -50%;
}
.first__section .slider .slides input {
  display: none;
}
.first__section .slider .slides #radio2 {
  margin-left: 20px;
}
.first__section .slider .slides .slide {
  width: 50%;
  transition: 1s;
}
.first__section .slider .slides .slide img {
  width: 100%;
}
.first__section .slider .slides .labels {
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  width: 50%;
  z-index: 998;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.first__section .slider .slides .labels label {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #000;
  transition: 0.5s;
}
.first__section .slider .slides .labels label:hover {
  background-color: #fff;
}

.second__section {
  max-width: 100%;
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second__section-title {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}
.second__section-itens {
  margin-top: 60px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.second__section-itens .environment__item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  text-align: center;
  transition: 0.5s;
}
.second__section-itens .environment__item:hover {
  transform: scale(1.2);
}
.second__section-itens .environment__item span {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.second__section-itens .environment__item img {
  width: 80px;
}

.third__section {
  max-width: 100%;
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.third__section-title {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}
.third__section .ofertas {
  width: 90%;
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
}
.third__section .ofertas .container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.third__section .ofertas .container:hover {
  border: 1px solid #000;
}
.third__section .ofertas .container:hover > .btn {
  visibility: visible;
}
.third__section .ofertas .container .btn {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #00009C;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  visibility: hidden;
}
.third__section .ofertas .container .btn:hover {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  background-color: #96d674;
}
.third__section .ofertas .container .oferta {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.third__section .ofertas .container .oferta:hover > img {
  transform: scale(1.2);
}
.third__section .ofertas .container .oferta img {
  transition: 0.5s;
  width: 80%;
}
.third__section .ofertas .container .oferta span {
  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #000;
}
.third__section .ofertas .container .oferta .pagamento {
  background-color: #dcdcdc;
  width: 100%;
  padding: 10px;
}
.third__section .ofertas .container .oferta .pagamento a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.fourth__section {
  background-color: #00009C;
  padding: 50px;
  max-width: 100%;
  margin: 120px 0;
}
.fourth__section-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.fourth__section-container .service__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.fourth__section-container .service__item img {
  width: 200px;
}
.fourth__section-container .service__item p {
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.fourth__section-container .service__item span {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.fifth__section {
  max-width: 100%;
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fifth__section-title {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}
.fifth__section .collection__container {
  width: 90%;
  margin: 60px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.fifth__section .collection__container-content {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #000;
  padding: 20px;
  width: 40%;
  background-color: #dcdcdc;
}
.fifth__section .collection__container-content img {
  width: 100%;
}
.fifth__section .collection__container-content .box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fifth__section .collection__container-content .box span {
  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.fifth__section .collection__container-content .box .btn-box {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  background-color: #00009C;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 120rem;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */